<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
    <head>
	    <!-- inline JS 영역-->
        <script src="/js/reviewDetail.js"></script>
	</head>

	<body>
        <div class="main-contents">
            <form th:action="@{/review/delete}" method="post">
                <input type="hidden" name="reviewId" th:value="${review.reviewId}">
                <input type="hidden" class="score" th:value="${review.score}">

                <div class="row mb-30 hr">
                    <input type="hidden" id="title">
                    <div class="col">
                        <div class="row row-2 row-15">
                            <div class="col">
                                <h2 class="input title">작성자</h2>
                                <p class="input" th:text="${review.userNm}"></p>
                            </div>
                            <div class="col mb-15">
                                <h2 class="input title">도서명</h2>
                                <p class="input" th:text="${review.book.title}"></p>
                            </div>
                        </div>
                        <div class="row row-3" style="margin-bottom: 0;">
                            <div class="col">
                                <h2 class="input title">작가</h2>
                                <p class="input" th:text="${review.book.author}"></p>
                            </div>
                            <div class="col">
                                <h2 class="input title">출판사</h2>
                                <p class="input" th:text="${review.book.publisher}"></p>
                            </div>
                            <div class="col">
                                <h2 class="input title">공개여부</h2>
                                <div class="list-openYn" style="display: flex; align-items: center; flex:auto; ">
                                    <p th:if="${review.openYn eq true}" class="list-open-y" style="line-height: 52px;font-size: 15px;font-weight: 500;">공개</p>
                                    <p th:if="${review.openYn eq false}" class="list-open-n" style="line-height: 52px;font-size: 15px;color:#333;font-weight: 500;">비공개</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col cover">
                        <img th:src="${review.book.cover}">
                    </div>
                </div>
                <div class="row row-2 row-15">
                    <div class="col">
                        <h2 class="input title">취향도</h2>
                        <div class="heart"></div>
                    </div>
                    <div class="col mb-15">
                        <h2 class="input title">한줄평</h2>
                        <p class="input" th:text="${review.shortReview}"></p>
                    </div>
                </div>
                <div class="row row-textarea">
                    <div class="col">
                        <h2 class="input title">감상문</h2>
                        <textarea class="textarea" th:text="${review.longReview}" readonly></textarea>
                    </div>
                </div>

                <div class="btn-controller">
                    <!--Todo 목록보기 버튼 추가-->

                    <!--자신이 작성한 글만 수정하기 버튼이 보임-->
                    <a th:if="${review.userId eq loginUserId}" id="book-modify-btn" class="gra-btn" th:href="@{/review/modify/{reviewId}(reviewId = ${review.reviewId})}">수정하기</a>
                    <button th:if="${review.userId eq loginUserId}" type="submit" id="book-delete-btn" class="gra-btn">삭제하기</button>
                </div>
            </form>
        </div>

        <!--채팅 참가하기 버튼-->
        <a class="chat-plus-btn">
            <span th:text="${review.book.title}"></span>
            채팅 참가하기
        </a>

    </body>
</html>