<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
    <head>
	    <!-- inline JS 영역-->
        <script src="/js/reviewModify.js"></script>
	</head>

	<body>
        <div class="main-contents">
            <form>
                <input type="hidden" name="reviewId" th:value="${review.reviewId}">
                <input type="hidden" id="prevOpenYn" th:value="${review.openYn}"/>
                <input type="hidden" class="score" th:value="${review.score}">

                <div class="row mb-30 hr">
                    <input type="hidden" id="title">
                    <div class="col">
                        <div class="row row-2 row-15">
                            <div class="col">
                                <h2 class="input title">작성자</h2>
                                <p class="input" th:text="${review.userNm}"></p>
                            </div>
                            <div class="col mb-15">
                                <h2 class="input title">도서명</h2>
                                <p class="input" th:text="${review.book.title}"></p>
                            </div>
                        </div>
                        <div class="row row-3" style="margin-bottom: 0;">
                            <div class="col">
                                <h2 class="input title">작가</h2>
                                <p class="input" th:text="${review.book.author}"></p>
                            </div>
                            <div class="col">
                                <h2 class="input title">출판사</h2>
                                <p class="input" th:text="${review.book.publisher}"></p>
                            </div>
                            <div class="col">
                                <h2 class="input title">공개여부</h2>
                                <!--클릭할때마다 공개/비공개 toggle-->
                                <div class="list-openYn" style="display: flex; align-items: center; flex:auto; ">
                                    <p id="openYn"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col cover">
                        <img th:src="${review.book.cover}">
                    </div>
                </div>
                <div class="row row-2 row-15">
                    <div class="col">
                        <!--Todo 취향도 선택 가능하게 수정-->
                        <h2 class="input title">취향도</h2>
                        <div class="heart"></div>
                    </div>
                    <div class="col mb-15">
                        <h2 class="input title">한줄평</h2>
                        <input type="text" class="input" th:value="${review.shortReview}"/>
                    </div>
                </div>
                <div class="row row-textarea">
                    <div class="col">
                        <h2 class="input title">감상문</h2>
                        <textarea class="textarea" th:text="${review.longReview}"></textarea>
                    </div>
                </div>

                <div class="btn-controller">
                    <button type="button" id="book-update-btn" class="gra-btn">저장하기</button>
                </div>
            </form>
        </div>

        <!--채팅 참가하기 버튼-->
        <a class="chat-plus-btn">
            <span th:text="${review.book.title}"></span>
            채팅 참가하기
        </a>

    </body>
</html>