/* common */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/images/login_bg.png);
    background-size: cover;
    padding: 55px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.gra-btn {
    display: inline-block;
    width: calc(100% - 30px);
    height: 40px;
    line-height: 40px;
    margin: 0 15px;
    background-image: linear-gradient(to right, #894cff, #59a5fb);
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
.main-contents {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    padding: 40px 50px;
}

/* login */
.login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px 75px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    border-radius: 5px;
}

.login-book-icon {
    margin-bottom: 30px;
}

.login-title {
    font-size: 33px;
    line-height: 33px;
    font-weight: 900;
    margin-bottom: 14px;
}

.login-info-1 {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    margin-bottom: 39px;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 406px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 1px solid #d2d9ec;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}

.login-btn>img {
    height: 20px;
    margin-right: 9px;
}

.login-google {
    margin-bottom: 22px;
}

.login-guest {
    background-color: #f5f5f5;
}


/* sidebar */
.sidebar-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    height: 100%;
    padding-top: 22px;
    background-color: #fffafd;
}

.siderbar-userinfo {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    padding: 0 15px;
}

.siderbar-userinfo>figure {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    overflow: hidden;
    margin-right: 12px;
}

.siderbar-userinfo>figure>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}

.sidebar-name-container {
    display: flex;
    flex-direction: column;
}

.sidebar-name {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 7px;
}

.sidebar-role {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: #514ca9;
}

.siderbar-btn,
.sidebar-title {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
}

.siderbar-btn {
    margin-bottom: 10px;
    padding: 5px 9px;
}

.siderbar-btn p {
    margin-right: 3px;
}

.siderbar-btn:hover {
    background-color: #f1f1f1;
}

.siderbar-btn>figure {
    height: 17px;
    width: auto;
    margin-right: 12px;
}

.siderbar-btn>figure img {
    height: 100%;
    width: auto
}

.siderbar-btn-1 {
    width: calc(100% - 30px);
    margin: 30px 15px 0;
}

.sidebar-title {
    display: inline-block;
    flex-grow: 1;
    /* 다른 자식 요소들과의 간격 설정 */
    white-space: nowrap;
    /* 텍스트가 한 줄로 유지되도록 설정 */
    overflow: hidden;
    /* 넘치는 텍스트를 숨김 처리 */
    text-overflow: ellipsis;
    color: #514ca9;
}

.sidebar-cnt-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0 0 55px;
    margin-left: auto;
    margin-right: 0;
}

.sidebar-cnt-container>* {
    margin-left: auto;
}

.sidebar-cnt {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    background-color: #7ED3B2;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.sidebar-date {
    font-size: 12px;
    font-weight: 400;
    color: #999;
}

.sidebar-chat-container {
    height: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #f5f5f5;
    padding: 30px 20px;
    margin-top: 35px;
}

.siderbar-btn-2 {
    margin-bottom: 8px;
    padding: 12px 10px;
}

.siderbar-btn-2:hover {
    background-color: #fafafa;
}

.siderbar-btn-2 figure {
    flex: 0 0 40px;
    height: 45px;
    border-radius: 5px;
    overflow: hidden;
}

.siderbar-btn-2>figure img {
    height: 100%;
    width: 100%;
}


/*write*/
.select2.select2-container {
    border:2px solid #eee !important;
    border-radius: 5px;
    width:100% !important;
    height:50px !important;
    line-height: 50px;
    background-color: #fbfdff;
    font-family: 'Noto Sans KR', sans-serif;
}
.select2-container .select2-selection--single {
    height:100% !important;
}
.select2-container--default .select2-selection--single {
    border:0 !important;
    background-color: #fbfdff !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit !important;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    font-weight: 500;
    color:#333;
    padding:0 15px;
    padding-left:15px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top:50% !important;
    transform: translateY(-50%);
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    height:100% !important;
}
.selection img {
    display: none;
}
form .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
form .col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
form .input,
form textarea{
    display: inline-block;
    width:100%;
    min-height:50px;
    padding:15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px;
    line-height:18px;
    font-weight: 500;
    color:#333;
    border:2px solid #eee;
    border-radius: 5px;
    background-color: #fbfdff;
}
form .title {
    display: block;
    margin-bottom:10px;
    line-height:15px;
    min-height: auto;
    padding-left:5px;
    border:0;
    color:#514ca9;
    font-weight: 700;
}
form .cover {
    flex: 0 0 150px;
    min-height: 170px;
    border:2px solid #eee;
    margin-left:50px;
    border-radius: 5px;
    background-color: #fbfdff;
}
form .row-2 > * {
    flex:0 0 calc(50% - 7.5px);
}
form .row-2 > *:first-child {
    margin-right:15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.heart {
    display: flex;
    align-items: center;
    height:50px;
}
.heart input[type='checkbox'] {
    display: none;
}
form .row-15 > * {
    flex-grow: 1;
}
form .row-15 > *:first-child {
    flex: 0 0 140px;
}
.mb-30 {
    margin-bottom: 30px !important;
}
form > .row-textarea {
    flex-grow: 1;
    margin-bottom: 0;
}
.main-contents form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
form textarea {
    width:100%;
    height:100%;
    resize: none;
}
.btn-controller {
    text-align: right;
    margin-top:auto;
}
.btn-controller button {
    width:250px;
    height:50px;
    border-radius: 5px;
    border: 0;
    margin:30px 0 0;
}
.hr {
    padding-bottom:30px;
    border-bottom: 1px solid #cdd0f4;
}
form .input::placeholder {
    color:#999;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}


/*리뷰 목록*/
.bookReview-list {
    width:100%;
    height:100%;
}
.bookReview-list > li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: top;
    border-radius: 5px;
    padding:16px 18px;
    margin-bottom: 10px;
}
.list-info {
    flex-grow: 1;
    padding:10px 0;
}
.bookReview-list > li:nth-child(2n-1) {
    background-color: #f5f5f5;
}
.bookReview-list > li:nth-child(2n) {
    border:1px solid #eee;
}
.bookReview-list > li:last-child {
    margin-bottom: 0;
}
.list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 10px;
}
.list-title {
    flex-grow: 1;
    font-size:15px;
    line-height: 15px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}
.list-date,
.list-score {
    flex:0 0 110px;
    font-size:13px;
    line-height: 15px;
    font-weight: 400;
    color:#999;
    text-align:right;
    font-family: 'Noto Sans KR', sans-serif;
}
.list-cover {
    flex:0 0 70px;
    height:80px;
    overflow: hidden;
    margin-right:15px;
    border-radius: 5px;
}
.list-cover > img {
    width:100%;
    height:100%;
}
.list-shortReview {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.list-con-container {
    display: flex;justify-content: space-between;
}


/*상세보기*/
.chat-plus-btn {
    position: fixed;
    right:0;
    top:30px;

    display: inline-block;
    padding:15px 20px;
    background-color: #7ED3B2;
    color:#fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.chat-plus-btn > span {
    display: none;
    color:#fff;
    font-weight: bold;
}
.chat-plus-btn:hover > span {
    display: block;
}
.select2-dropdown {
    border:1px solid #999 !important;
    border-top:0 !important;
}
.select2-search--dropdown {
    padding:10px !important;
}