<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
    <head>
	    <!-- inline JS 영역-->
	    <script src="/js/reviewList.js"></script>
	</head>

	<body>
        <div class="main-contents">
            <ul class="bookReview-list">
                <li th:each="bookReview:${bookReviewList}" class="review-item" th:data-review-id="${bookReview.reviewId}">
                    <input type="hidden" class="list-score-value" th:value="${bookReview.score}"/>
                    <figure class="list-cover"><img th:src="${bookReview.book.cover}"></figure>
                    <div class="list-info">
                        <div class="list-title-container">
                            <p class="list-title" th:text="${bookReview.book.title}"></p>
                            <p class="list-score" ></p>
                        </div>
                        <div class="list-con-container">
                            <p class="list-shortReview" th:text="${bookReview.shortReview}"></p>
                            <p class="list-date" th:text="${bookReview.regDt}"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>