<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
    <head>
	    <!-- inline JS 영역-->
	    <script src="/js/reviewList.js"></script>
	</head>

	<body>
        <div class="review-contents">
        <div class="review-contents-title">
            <h2>나의 독후감</h2>
            <input type="text" placeholder="도서를 검색해주세요.">
        </div>
        <div class="review-contents-list">
            <ul>
                <li th:each="review:${bookReviewList}" class="review-item" th:data-review-id="${review.reviewId}">
                    <input type="hidden" class="list-score-value" th:value="${review.score}"/>
                    <div class="review-book-img"><img th:src="${review.book.cover}"></div>
                    <div class="review-book-contents">
                        <h2 th:text="${review.book.title}"></h2>
                        <p th:text="${review.shortReview}"></p>
                    </div>
                    <div class="review-book-info">
                        <p th:text="${review.regDt}"></p>
                        <p class="list-score"></p>
                        <p th:if="${review.openYn eq true}" class="review-openYn">공개</p>
                        <p th:if="${review.openYn eq false}" class="review-openYn">비공개</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </body>
</html>