<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
    <head>
	    <!-- inline JS 영역-->
	    <script src="/js/reviewList.js"></script>
	</head>

	<body>
        <div class="main-contents">
            <ul class="review-list">
                <li th:each="review:${bookReviewList}" class="review-item" th:data-review-id="${review.reviewId}">
                    <input type="hidden" class="list-score-value" th:value="${review.score}"/>
                    <figure class="list-cover"><img th:src="${review.book.cover}"></figure>
                    <div class="list-info">
                        <div class="list-title-container">
                            <p class="list-title" th:text="${review.book.title}"></p>
                            <div class="list-openYn">
                                <p th:if="${review.openYn eq true}" class="list-open-y">공개</p>
                                <p th:if="${review.openYn eq false}" class="list-open-n">비공개</p>
                            </div>
                        </div>
                        <div class="list-con-container">
                            <p class="list-shortReview" th:text="${review.shortReview}"></p>
                            <div class="list-sd">
                                <p class="list-score" ></p>
                                <p class="list-date" th:text="${review.regDt}"></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>