<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
    <head>
	    <!-- inline JS 영역-->
	    <script src="/js/reviewList.js"></script>
	</head>

	<body>
        <div class="review-contents">
        <div class="review-contents-title">
            <h2>나의 독후감</h2>
            <input type="text" placeholder="도서를 검색해주세요.">
        </div>
        <div class="review-contents-list">
            <ul>
                <li>
                    <div class="review-book-img"><img src="images/8949162539_2.jpg"></div>
                    <div class="review-book-contents">
                        <h2>하하 자매 떡집</h2>
                        <p>한줄평 입니다~~ 반갑습니다!!</p>
                    </div>
                    <div class="review-book-info">
                        <p>2023-11-04</p>
                        <p>🧡🧡🧡🧡🧡</p>
                        <p class="review-openYn">공개</p>
                    </div>
                </li>
                <li>
                    <div class="review-book-img"><img src="images/8949162539_2.jpg"></div>
                    <div class="review-book-contents">
                        <h2>하하 자매 떡집</h2>
                        <p>한줄평 입니다~~ 반갑습니다!!</p>
                    </div>
                    <div class="review-book-info">
                        <p>2023-11-04</p>
                        <p>🧡🧡🧡🧡🧡</p>
                        <p class="review-openYn">공개</p>
                    </div>
                </li>
                <li>
                    <div class="review-book-img"><img src="images/8949162539_2.jpg"></div>
                    <div class="review-book-contents">
                        <h2>하하 자매 떡집</h2>
                        <p>한줄평 입니다~~ 반갑습니다!!</p>
                    </div>
                    <div class="review-book-info">
                        <p>2023-11-04</p>
                        <p>🧡🧡🧡🧡🧡</p>
                        <p class="review-openYn">공개</p>
                    </div>
                </li>
                <li>
                    <div class="review-book-img"><img src="images/8949162539_2.jpg"></div>
                    <div class="review-book-contents">
                        <h2>하하 자매 떡집</h2>
                        <p>한줄평 입니다~~ 반갑습니다!!</p>
                    </div>
                    <div class="review-book-info">
                        <p>2023-11-04</p>
                        <p>🧡🧡🧡🧡🧡</p>
                        <p class="review-openYn">공개</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </body>
</html>