<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bookend</title>

	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">

	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="login-wrapper">
		<figure class="login-book-icon"><img src="/images/login_book_icon.png"></figure>		<h2 class="login-title">Hey, hello</h2>
		<p class="login-info-1">Enter your credentials</p>
		<a class="login-btn login-google" href="/oauth2/authorization/google"><img src="/images/login_google.png"><span>Sign in with Google</span></a>
		<a class="login-btn login-guest" href="/login/guest">Guest Login</span></a>
	</div>
</div>
</body>
</html>